<nav class="navbar navbar-expand-lg navbar-light bg-light">

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <%= link_to "Home", interests_path, class: 'nav-link'  %>
    </li>
    <li class="nav-item">
    <%= link_to "Resume", 'https://drive.google.com/open?id=1bdK3ghtigZGWc3-MJSQ_dxIYM8WrH0ZZ', class: 'nav-link'  %>
    </li>
    <li class="nav-item">
    <%= link_to "Interests", interests_path, class: 'nav-link'  %>
    </li>
    <li class="nav-item">
    <%= link_to "Projects", projects_path, class: 'nav-link disabled' %>
    </li>
  </ul>
</div>
</nav>



