
<nav class="navbar navbar-expand bg-light navcustom">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav flex-sm-column">
      <li class="nav-item">
        <%= link_to "Resume", 'https://drive.google.com/open?id=1bdK3ghtigZGWc3-MJSQ_dxIYM8WrH0ZZ', class: 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to "Offers", interests_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", interests_path, class: 'nav-link disabled' %>
      </li>
      <li class="nav-item">
        <%= link_to "Projects", projects_path, class: 'nav-link disabled' %>
      </li>
    </ul>
  </div>
</nav>


