<nav class="navbar navbar-expand-lg navbar-light bg-light">

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <%= link_to "Home", interests_path, class: 'nav-link'  %>
    </li>
    <li class="nav-item">
    <%= link_to "Resume", 'https://drive.google.com/open?id=1bdK3ghtigZGWc3-MJSQ_dxIYM8WrH0ZZ', class: 'nav-link'  %>
    </li>
    <li class="nav-item">
    <%= link_to "Interests", interests_path, class: 'nav-link'  %>
    </li>
    <li class="nav-item">
    <%= link_to "Projects", projects_path, class: 'nav-link disabled' %>
    </li>
  </ul>
</div>
</nav>


  <div class="jumbotron">
    <div class="container-fluid">
      <h1>Welcome to MirrorTravis</h1>
      <p class="apparent-text">Hello, my name is Travis, I am a software engineer from South Florida. I am a proficient ruby on rails developer
      who has grown fond of devops and specifically kubernetes and all the amazing things that can be done with kubernetes orchestration. My goal
      is to someday become a software architect and I work towards that by studying patterns and ensuring that I always write clean maintainable code.
      Here you can find many of my interests as well as my resume and a list of my current projects(future). If you have any projects that you think may
      interest me, feel free to reach out. You can find my contact information at the bottom of the page.</p>
    </div>
  </div>
