@import "bootstrap";

.active-page{
  background-color: #cce6ff;
  //does not work in older browsers but then again, who really cares?
  pointer-events: none;
}

.bg-custom-beige{
  background-color: #cce6ff;
  height: auto;
  min-height: 50px;
  max-height: 60px;
  box-shadow: 3px 3px;
  border-radius: 0px 0px 0px 5px;
  color: #007bff;
}

.hams {
  width: 35px;
  height: 5px;
  background-color: #007bff;
  cursor: pointer;
  border: none;
}

.hams-space {
  width: 35px;
  height: 5px;
  background-color: #cce6ff;
  cursor: pointer;
  border: none;
}

.card-index{
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 18rem;
}

ul#menu li{
  display: inline-block;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* paragraph body for interest show page */
.interest-body {
  padding: 10px 50px 10px 50px;
}

/* style for interest show page */
.interest-title {
  padding: 50px 50px 10px 50px;
}

/*show max size*/
.show-image{
  padding: 10px 50px 10px 50px;
  max-width: 700px;
  max-height: 920px;
}
