@import "bootstrap";
@import "font-awesome";

//nav menu
.navcustom{
  position: absolute;
  left: 5%;
  top: 5%;
  box-shadow: 3px 2px 5px black;
  border-radius: 5px 5px;
  width: 5%;
  background-image: image-url('card.jpg');
}

.container-main{
  margin-top: 100px
}

html, body {
  max-width: 100%;
  overflow: hidden;
}

.footer {
  position:absolute;
  bottom:0;
}

.card-group{
  position: relative;
}

.card-img-top{
  pointer-events: none;
  border-radius: 15px 50px 10px 10px;
}

.modal-content{
  border-radius: 10px 10px;
  box-shadow: 3px 2px 5px black;
  text-shadow: 3px 1px 2px grey;
  color: lavender;
  background-image: image-url('card.jpg');
}

.card{
  border-radius: 15px 50px;
  border-color: black;
  background-image: image-url('card.jpg');
  box-shadow: 3px 2px 5px black;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.card:hover {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

//all the initial slide in animations
.slide1 {
  position: absolute;
  transform: rotate(-10deg);
  right: -200%;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1s forwards;
  animation-delay: 1s;
}

.slide2 {
  position: absolute;
  right: -200%;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 3s;
  animation: slide 1s forwards;
  animation-delay: 1.5s;
}

.slide3 {
  position: absolute;
  transform: rotate(10deg);
  right: -200%;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 5s;
  animation: slide 1s forwards;
  animation-delay: 2s;
}

.slide4 {
  position: absolute;
  transform: rotate(5deg);
  right: -200%;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 5s;
  animation: slide 1s forwards;
  animation-delay: 2.5s;
}

.slide5 {
  position: absolute;
  transform: rotate(0deg);
  right: -200%;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 5s;
  animation: slide 1s forwards;
  animation-delay: 3s;
}

.slide6 {
  position: absolute;
  transform: rotate(20deg);
  right: -200%;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 5s;
  animation: slide 1s forwards;
  animation-delay: 3.5s;
}

@-webkit-keyframes slide {
  100% { right: 0; }
}

@keyframes slide {
  100% { right: 0; }
}

//shifting out animation
.shift-slide {
  position: absolute;
  right: 0;
  -webkit-animation: shift-slide 1s forwards, rotate-up 1s forwards;
  animation: shift-slide 1s forwards, rotate-up 1s forwards;
}

//shifting back animation
.shift-back {
  position: absolute;
  right: -100%;
  -webkit-animation: slide 1s forwards;
  animation: slide 1s forwards;
}

@-webkit-keyframes shift-slide {
  100% { 
    right: -100%;
    
   }
}

@-webkit-keyframes rotate-up {
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes shift-slide {
  100% { right: -100%; }
}

@keyframes rotate-up {
  100% { transform: rotate(0deg); }
}

.flip-over {
  margin: auto;
  -webkit-animation: rotateY 1s infinte linear;
  animation: rotateY 1s infinite linear;
}

@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}


.footer{
  position: fixed;
  text-align: center;
  color: white;
  bottom: 0;
  left: 0;
}

h1{
  font-family: "Times New Roman", Times, serif;
}

h5{
  font-family: "Times New Roman", Times, serif;
}

p{
  font-family: "Times New Roman", Times, serif;
}

.active-page{
  background-color: lavender;
  //does not work in older browsers but then again, who really cares?
  pointer-events: none;
}

.apparent-text{
  text-shadow: 1px 1px 2px lavender;
}


.center{
    text-align: center;
}

.bord {border-style: solid;
border-color: plum;
}

.bg-custom{
  height: auto;
}

.headshot{
  display: block;
  margin: 0 auto;
}

body{
  color: black;
  background-image: image-url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.card-index {
  border-color: white;
  padding: 10px;
  background-color: transparent;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 18rem;
}


/* paragraph body for interest show page */
.interest-body {
  padding: 10px 50px 10px 50px;
}

/* style for interest show page */
.interest-title {
  padding: 50px 50px 10px 50px;
}

/*show max size*/
.show-image{
  padding: 10px 50px 10px 50px;
  max-width: 700px;
  max-height: 920px;
}


.about {
  right: -200%;
  border-radius: 50px 50px;
  box-shadow: 3px 2px 5px black;
  background-image: image-url('card.jpg');
  margin: 30px;
  text-shadow: 3px 1px 2px grey;
  color: lavender;
  padding: 50px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 5s;
  animation: slide 1 s forwards;
  animation-delay: 4s;
}